os: osx

env:
  global:
    # Ubuntu version
    - LINUX_DIST=trusty
  matrix:
    - PACKAGE=SEACAS MODE=notest
    
before_install:    
  - brew cask uninstall oclint
  - brew install gcc
  - brew install lapack
  - brew install openblas
  - brew install mpich
  - brew install netcdf
  - brew install libmatio
    
script:
  - echo $PACKAGE
  - echo $MODE
  - if [[ "$MODE" = "full" ]]; then echo "Run full test"; fi
